<h1>All items</h1>

<%= button_tag 'Drinks', class: "button" %>
<%= button_tag 'Starter', class: "button" %>
<%= button_tag 'Mains', class: "button" %>
<%= button_tag 'Desserts', class: "button" %>

<div id='output'>

</div>