<h1>Total sales for the day: <%= @total %></h1>


<table>
	<tr>
		<th>Transaction ID</th>
		<th>Bill Amount</th>
		<th>Action</th>
	</tr>
	<% @sales.each do |sale| %>
	<tr>
		<td><%= sale.id %></td>
		<td><%= sale.totalsale %></td>
		<td><a><%= link_to 'View', sale_path(sale) %></a></td>
	</tr>
	<% end %>
</table>