<div style="border: 1px solid red; text-align:right">
<% if staff_session %>
<p>Current Staff Logged In</p>
<%= current_staff.email %>
<%= button_to "Logout", destroy_staff_session_path, method: :delete %>
<% else %>
<%= button_to "Sign In For Staff", new_staff_session_path %>
<% end %>
</div>


<div style="border: 1px solid red">
  <div id="content" style="height:500px; margin:0 auto; text-align:center; border: 1px solid green; display:flex; flex-direction:row; justify-content:center">
    <a href='/kitchen'>
    <div style="display:flex; flex-direction:column;justify-content:center; height:400px; width:300px; border: 1px solid red; background-color:red">
      <p>View Kitchen Orders</p>
    </div>
    </a>
    <a href="/table">
    <div style="display:flex; flex-direction:column;justify-content:center; height:400px; width:300px; border: 1px solid red; background-color:green">
      <p>View Tables</p>
    </div>
    </a>
    <a href="/reports">
    <div style="display:flex; flex-direction:column;justify-content:center; height:400px; width:300px; border: 1px solid red; background-color:blue">
      <p>View Reports</p>
    </div>
    </a>
  </div>
</div>



<script>
  function getTable (){
    Rails.ajax({
      url: "/tables",
      type: "get",
      data: "",
      success: function(data) {
        console.log(data)
        var removeList = document.querySelectorAll(".target")
        removeList.forEach(function(item){
          item.remove()
        })
        data.forEach((obj)=>{
          console.log(obj.id)
          var holder = document.createElement("div")
          holder.className = "target"
          holder.style.border = "1px solid red"
          holder.style.width = "100px"
          holder.style.display = "inline-block"
          if (obj.active_status){
            holder.style.backgroundColor = "Red"
          }else{
            holder.style.backgroundColor = "Green"
          }
          var id = document.createElement("p")
          id.innerHTML = "Table ID: "+obj.id
          var status = document.createElement("p")
          status.innerHTML = "Table Status: "+obj.active_status
          holder.appendChild(id)
          holder.appendChild(status)
          document.querySelector("#content").appendChild(holder)
        })
      },
      error: function(data) {}
    })
  }
</script>
<!-- tables_path, method: :get, local: true, -->
