
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Restaurant Name</h5>
        <p>Our restaurant ordering app</p>
      </div>
    </div>
  </div>
</section>



<script>
  function getTable (){
    Rails.ajax({
      url: "/tables",
      type: "get",
      data: "",
      success: function(data) {
        console.log(data)
        var removeList = document.querySelectorAll(".target")
        removeList.forEach(function(item){
          item.remove()
        })
        data.forEach((obj)=>{
          console.log(obj.id)
          var holder = document.createElement("div")
          holder.className = "target"
          holder.style.border = "1px solid red"
          holder.style.width = "100px"
          holder.style.display = "inline-block"
          if (obj.active_status){
            holder.style.backgroundColor = "Red"
          }else{
            holder.style.backgroundColor = "Green"
          }
          var id = document.createElement("p")
          id.innerHTML = "Table ID: "+obj.id
          var status = document.createElement("p")
          status.innerHTML = "Table Status: "+obj.active_status
          holder.appendChild(id)
          holder.appendChild(status)
          document.querySelector("#content").appendChild(holder)
        })
      },
      error: function(data) {}
    })
  }
</script>
<!-- tables_path, method: :get, local: true, -->