<h1>works!</h1>
<div class="content">

<% @orders.each do|order| %>
<div style="border: 1px solid red; max-width: 300px; display:flex; flex-direction:rows; justify-content: space-around">
  <div style="border: 1px solid red; max-width: 300px">
    <p>Table Number: <%= order.table_id %></p>
    <p>Order ID: <%= order.id %></p>
    <% order.items.each do|item| %>
      <p><%= item.name %></p>
    <% end %>
  </div>
  <div style="display:flex; flex-direction:column;justify-content:space-between">
    <p><%= button_tag "Complete", :onclick => "completeOrder()", :id => order.id %></p>
  </div>
</div>
<% end %>
</div>




<script>
  window.onload = function(){
    setInterval(function(){

      window.location.reload()
    },3000)
  }
  function completeOrder(){
    Rails.ajax({
      url: "/completeorders",
      type: "get",
      data: event.target.id,
      success: function(data) {},
      error: function(data) {}
    })
  }
</script>
